body {
    text-align: center;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 193, 1) 100%);
}

img {
    width: 200px;
    border-radius: 50%;
}

h1 {
    text-shadow: 2px 2px #F50057;
    color: #64DD17;
    font-family: 'Orelega One', cursive;
}

h2 {
    text-shadow: 2px 2px #FF1744;
    color: #FFD600;
}

#bio {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 20px;
    color: darkred;
    text-align: center;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 0px;
    right: 30px;
    cursor: pointer;
    color: black;
    margin-top: 0px;
    position: fixed;
}

.links {
    display: inline;
    padding-left: 15px;
    color: turquoise;
    font-size: 15px;
}
.links:hover {
    background-color:blueviolet;
    font-size: 20px;
    text-shadow: 2px 2px red;
}
.line {
    margin: auto;
    height: 7px;
    background-color: black;
    width: 100;
}
.book {
    display: inline;
}
.book:hover {
    color:darkblue;
}
html {
    scroll-behavior: smooth;
}